@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

*{
    margin:0;
    padding:0;
}

.container{
    background:url(bg.jpg);
    height: 100vh;
    background-size: 100% 100%;

}

.container .navbar{
    width: 100%;
    height:180px;
    background: #F2F2eb;
}
.navbar .baslik{
    display:inline-block;
    margin-left:55px;
    margin-top:30px;
    user-select:none;
}

.container .navbar .baslik i{
    color:#6d90b0;
    float: left;
    float: top;
    font-size: 20px;
    
}

.container .navbar .baslik h2{
    color:#6d90b0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 20px;
}
   
.container .navbar .baslik h6{
    color:#ab9380;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;

}


.navbar ul{
    text-align-last: right;
    margin-right:20px;
    user-select:none;
}

.navbar ul li{

list-style: none;
display:inline-block;
margin-bottom: 40px;
line-height: 0px;
padding-bottom: 50px;

}

.navbar ul li a{
    color:#ffeeed;
    text-decoration: none;
    font-size: 20px;
    padding:10px 20px ;
    font-family: roboto;
    user-select:none;
}

.navbar ul li a{
    border: 2px solid #6d90b0;
    background-color: #6d90b0;
    padding:10px;
    margin:23px;
    margin-bottom: 50px;
    border-radius: 5px 5px 5px 5px;
}

.navbar ul li a:hover{
    background-color: #6b5e47;
 
}

.serit{
    width: 95% ;
    height: 80px ;
    margin-top: 60px;
    background-color: #F2F2eb;
    margin-left: 40px;
    margin-right:40px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
}

.serit ul{
    
    text-align: center;
    padding-bottom: 10px;
    
}
.serit ul li{
text-align: center;
 list-style: none;
 display:inline-block;
 margin-bottom: 20px;
 line-height: 20px; 
 padding-top: 25px;
 
}

.serit ul li a{
    color:#ab9380;
    text-decoration: none;
    font-size: 30px;
    padding:10px 20px ;
    font-family: roboto;
    margin-top: 20px;
    padding:10px 20px;
}

.serit ul li a:hover{
    color:#6d90b0;
}

.container .center{

    position:absolute;
    margin: 150px 67% 100px 33%;
    user-select:none;
    text-align: center;
}

.center h1{

    color:#F2F2eb;
    font-size: 70px;
    font-weight:bold;
}

.buttons button{
height:50px;
width: 120px;
font-size:20px ;
border-radius: 5px 5px 5px 5px;
cursor:pointer;
background-color: #F2F2eb;
color:#ab9380;
}

.buttons button:hover{
    border-color: #6d90b0;
}